<div class="row">
  <div class="medium-6 medium-offset-3 columns">
    <h1>Headsha.re + <%= image_tag "sniply.svg", width: 180, height: 30 %></h1>

    <p>
      <strong>Paris, July 16th, 2014.</strong><br />Headsha.re and Snip.ly are joining forces to help users drive more conversion
      through the content they share. Existing users will enjoy a smooth migration to Snip.ly
      without losing any data (an email will be sent to users with all the details).
    </p>
    <p>
      Thanks to all who trusted Headsha.re, it's been a great journey!
    </p>


    <div class="center">
      <a href="http://snip.ly/headshare" target="_blank" class="button">
        Go to Snip.ly now !
      </a>
    </div>

    <p class="bio">
      Headsha.re was created by <a href="http://sebastien.saunier.me">Sébastien Saunier</a> in March 2014 to help people drive more traffic to their website through content they share online. He will now focus on education with
      <a href="http://www.lewagon.org">Le Wagon</a>, a dev bootcamp for entrepreneurs.
    </p>
  </div>
</div>